.header {
    display: flex;
    align-items: center;
    padding: 20PX 0PX;
    border-bottom:  solid 1px rgb(226,226,226);
}

.header > div {
    display: flex;
}

.header .header_center {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

.header .header_left {
    width: 25%;
    justify-content: flex-start;
}

.header .header_right {
    width: 25%;
    justify-content: flex-end;
}